/*
================================================================================================================================
   IE BUG FIXES
================================================================================================================================
*/

a.footer-link {
	position: relative;
	top: 10px;
	text-decoration: underline!important;
}
