{% extends "base_form.html" %}
{% block page_title %}User Registration{% endblock page_title %}

{% block form_description %}
<span class="large">
	Thank you for your interest in Emovolution, the mood tracking application. Select your username and password and
	provide your e-mail address for authentication. When you've finished filling out the form, hit submit and we'll
	send an e-mail to the address you provided.<br>&nbsp;
</span>
{% endblock form_description %}

{% block form_attrs %}class="centered vertical-form"{% endblock form_attrs %}

