{% extends "base.html" %}
{% block page_title %}About{% endblock page_title %}
{% block section_title %}About{% endblock section_title %}
{% block body %}
<div class="header">Developers</div>
<p>
	<span class="bold">Samuel Toriel</span> is a student at UCF in Orlando, FL and 
	programming enthusiast who enjoys learning about people and finding new web
	applications to poke fun with online.
</p>
<p>
	<span class="bold">Alexander Meng</span> is another UCF student. He's a computer
	science major and a (clearly) amateur graphic designer.
</p>
<div class="header">How did this come about?</div>
<p>
	Alex and Sam are co-workers who were looking for a project to work on together in
	their off time. Sam was recently thinking about getting a journal, or something to
	keep track of things happening in his life and how he felt at the time. The
	current mood tracking programs out there, while good, were too focused or too simple.
	When Sam bought up the idea of an online mood tracking application, Alex readily
	agreed with the idea. He wanted to take it one step further and add statistics for
	people to more easily see changes in their mood.
</p>
<div class="header">How did you make it?</div>
<p>
	Emovolution was made using the Python programming language and the Django framework. 
	For the front end and statistics, we used jQuery, jqPlot, and jQuery Sparklines.
	We also used numerous open-source django applications, you guys rock!
</p>
<div class="header">Contact us</div>
<p>
	support@emovolution.com
</p>
{% endblock body %}
