<div class="footer">
	<div class="inner-footer">
		<a class="footer-link underline-black" href="http://blog.emovolution.com" target="_blank">Development Blog</a>
		<a class="footer-link underline-black" href="{% url privacy %}">Privacy Policy</a>
		<a class="footer-link underline-black" href="{% url terms %}">Terms and Conditions</a>
		<a class="footer-link underline-black" href="{% url djangovoice_home %}">Feedback</a>
		<a class="footer-link underline-black" href="{% url announcements_archive %}">Announcements</a>
		<a class="footer-link underline-black" href="{% url about %}">About</a>
	</div>
</div>

