{% extends "base.html" %}
{% block page_title %}Privacy Policy{% endblock page_title %}
{% block section_title %}Privacy Policy{% endblock section_title %}

{% block body %}
<br><br>
<div class="header">WHAT INFORMATION DO WE COLLECT?</div>
We collect and store your e-mail address for contact and account activation purposes. All other information you enter herein is stored and kept private unless you specify it should not be.
<div class="header">WHAT DO WE USE THIS INFORMATION FOR?</div>
Your data will be used, regardless of privacy settings, in the site-wide statistical reports. The reports do not ever link back to users or ever reveal which individual users contributed which pieces of data. Your specifc information is never posted publicy unless you unlock it. Users cannot opt-out of contribution to the site-wide statistics because we feel it would compromise the data.
<div class="header">DO WE DISCLOSE ANY INFORMATION TO OUTSIDE PARTIES</div>
We do not disclose any information to any outside parties unless specifically required to by law or to protect the rights or interests of ourselves or other users.
{% endblock body %}
